.navigation {
  background-color: #151a22;
  width: 13.4375rem;
  .navigation_picture {
    height: 4.6875rem;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #a1a1a1;
    a{
      text-decoration: none;
      color: white;
      font-size: 14px;
      text-transform: capitalize;
    }
    img {
      width: 30%;
      height: auto;
    }
  }
  .nav_list {
    padding: 2rem 0rem;
    div {
      margin-top: 1rem;
      display: flex;
      align-self: center;
      align-items: center;
      // justify-content: center;
      height:2.375rem;
      padding-left: 2.5rem;
      
    }
  }
}
