.body_item {
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 0.625rem;
  border-bottom: 1px solid #a1a1a1;
  height: auto;

  &:last-of-type {
    border-bottom: none;
  }
  .percent {
    display: flex;
    .percent_box {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      color: white;
    }
    .percent_box_red {
      margin-right: 0.8125rem;
      width: 2.0625rem;
      height: 1.1875rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1.875rem;
      background-color: #eb2f20;
      p {
        font-size: 11px;
        font-weight: 600;
        color: #ffffff;
      }
    }
    .percent_box_green {
      margin-right: 0.8125rem;
      width: 2.0625rem;
      height: 1.1875rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1.875rem;
      background-color: #91c716;
      p {
        font-size: 11px;
        font-weight: 600;
        color: #ffffff;
      }
    }
    .description {
      // margin-left: 0.0625rem;
      width: 8.125rem;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 15px;
      text-transform: capitalize;
      
    }
  }
  .soc_cout_box {
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    text-align: start;
  }
}
